<html>
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/styles.css" rel="stylesheet">

    <title>Inventory 2</title>
  </head>
  <body>
    <div>
        Inventory 2: 
        <a href="/index">Домой</a>
        <a href="/find_empty_vlan">Показать свободные VID-ы</a>
    </div>

    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
